* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --margin-10: 10px;
  --margin-15: 15px;
  --margin-20: 20px;
  --margin-30: 30px;
}

@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Outfit;
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

.container {
  max-width: 700px;
  margin: 20px auto;
  background: var(--White);
  border-radius: 20px;
  padding: 25px;
}

.img {
  max-height: 400px;
  max-width: 650px;
  object-fit: cover;
  border-radius: 10px;
}

html {
  background: var(--Eggshell);
}

h1,
h2 {
  font-family: Young Serif;
}

body {
  font-family: Outfit;
}

h1 {
  margin: var(--margin-10) 0;
}

p {
  margin-bottom: var(--margin-10);
}

.preparation-time {
  background: var(--Rose-White);
  padding: 15px 20px;
  border-radius: 10px;
  margin: var(--margin-20) 0;
}

.preparation-time h3 {
  margin-bottom: var(--margin-10);
  color: var(--Dark-Raspberry);
}

.preparation-time li {
  margin-left: var(--margin-15);
}

.ingredients {
  padding-bottom: var(--margin-15);
  border-bottom: 1px solid var(--Light-Grey);
  margin-bottom: var(--margin-15);
}

.ingredients h2 {
  color: var(--Nutmeg);
  margin: var(--margin-10) 0 0 0;
}

.ingredients li {
  margin: var(--margin-15) 0 var(--margin-10) var(--margin-15);
}

.instructions h2 {
  color: var(--Nutmeg);
  margin: var(--margin-10) 0;
}

.instructions li {
  margin: var(--margin-15) 0 var(--margin-10) var(--margin-15);
  padding-left: var(--margin-10);
}

.instructions li::marker {
  font-weight: bold;
  color: var(--Nutmeg);
}

.nutrition {
  margin: var(--margin-20) 0;
  padding-bottom: var(--margin-15);
}

.nutrition h2 {
  color: var(--Nutmeg);
  margin: var(--margin-10) 0;
}

.key {
  display: inline-block;
  width: 290px;
  padding: 0 0 var(--margin-15) var(--margin-30);
  border-bottom: 1px solid var(--Light-Grey);
  margin-bottom: var(--margin-10);
}

.value {
  display: inline-block;
  width: 290px;
  padding: 0 0 var(--margin-15) var(--margin-30);
  border-bottom: 1px solid var(--Light-Grey);
  margin-bottom: var(--margin-10);
  color: var(--Nutmeg);
  font-weight: 600;
}

@media screen and (max-width: 750px) {
  .img {
    max-height: 200px;
  }
  .key,
  .value {
    width: 220px;
  }
}

@media screen and (max-width: 480px) {
  .img {
    max-height: 120px;
  }
  .key,
  .value {
    width: 120px;
  }
}

@media screen and (max-width: 310px) {
  .img {
    max-height: 80px;
  }
  .key,
  .value {
    width: 70px;
  }
}
